<h2 mat-dialog-title>Inventario</h2>
<form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Mates" type="number" formControlName="mates">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Bombillas" type="number" formControlName="bombillas">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Termos" type="number" formControlName="termos">
      </mat-form-field>

      <mat-checkbox id="yerba" formControlName="yerba" color="primary" labelPosition="before">Yerba</mat-checkbox>
    </form>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close(true)">ACEPTAR</button>
  <button mat-button (click)="close(false)">CANCELAR</button>
</mat-dialog-actions>

